<form action="/display_data_201709739" method="post">
  Start date: <input type="text" name="start_date">
  End date: <input type="text" name="end_date">
  <input type="submit" value="Submit">
</form>

{% if data %}
  <table>
    <tr>
      <th>id</th>
      <th>user_id</th>
      <th>timestamp</th>
      <th>reaction_time</th>
    </tr>
    {% for measurement in data %}
      <tr>
        <td>{{ measurement.id }}</td>
        <td>{{ measurement.user_id }}</td>
        <td>{{ measurement.timestamp }}</td>
        <td>{{ measurement.reaction_time }}</td>
      </tr>
    {% endfor %}
  </table>
{% else %}
  <p>No measurements found.</p>
{% endif %}
  